 <!--Header-->
 <nav class="nav-extended blue darken-4">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Analitics Graf</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">About</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="/user">Usuario</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="/grafo-view">Archivo</a></li>
      <li class="tab"><a class="active" href="#test2">Editar</a></li>
      <!--<li class="tab disabled"><a href="#test3">Disabled Tab</a></li>--->
      <li class="tab"><a href="#test4">Analizar</a></li>
      <li class="tab"><a href="#test4">Herramientas</a></li>
      <li class="tab"><a href="#test4">Aplicacion</a></li>
      <li class="tab"><a href="#test4">configuracion de ventana</a></li>
      <li class="tab"><a href="#test4">Ayuda</a></li>


    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">About</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">Usuario</a></li>
</ul>
