<!--Footer-->
<footer class="page-footer blue darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Analizador de grafos</h5>
        <p class="grey-text text-lighten-4">Un analizador de grafos para el estudio de algoritmos eficientes.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" routerLink="/grafo-analizar">Documentacion</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/grafo-analizar">Universidad de Caldas</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2022 Copyright Text
    </div>
  </div>
</footer>
