
<button id="btnClear" (click)="reinitModel()">clear</button>
<div class="row">
  <div class="col s7">
    <gojs-diagram
      [initDiagram]='initDiagram'
      [nodeDataArray]='getNodoData()'
      [linkDataArray]='getEdgesData()'
      [modelData]='state.diagramModelData'
      [skipsDiagramUpdate]='state.skipsDiagramUpdate'
      (modelChange)='diagramModelChange($event)'
      [divClassName]='diagramDivClassName'>
    </gojs-diagram>

  </div>
  <div class="col s5">
    <gojs-palette
      [initPalette]='initPalette'
      [nodeDataArray]='state.paletteNodeData'
      [divClassName]='paletteDivClassName'>
    </gojs-palette>

</div>






