<ul class="collapsible">
  <li>
    <!--implementacion del grafo-->
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Implementar grafo</div>
    <div class="collapsible-body">
      <!--formulario adicion datos grafo-->
      <form [formGroup]="formGrafo" (ngSubmit)="addGrafo($event)">
        <div class="row">
          <div class="input-field col s4">
            <input id="_id" type="text" formControlName="_id">
            <label for="_id">Id grafo</label>
          </div>
        </div>


        <div>
          <!--adicino de nodos -->
          <fieldset>
            <legend>Adicionar nodo</legend>
            <div Group="nodes">
              <div class="row">
                <div class="input-field col s3">
                  <input id="text" type="text" formControlName="text">
                  <label for="text">Nombre del nodo</label>
                </div>
                <!--
                <div class="input-field col s3 ">
                  <input id="id" type="text" formControlName="id">
                  <label for="id">Id del nodo</label>
                </div>
                -->
                <div class="input-field col s3">
                  <select id="color" formControlName="color">
                    <option value="yellow">Amarillo</option>
                    <option value="blue">Azul</option>
                    <option value="red">Rojo</option>
                  </select>
                  <label>Seleccione un color</label>
                </div>
                <div class="col s3 right">
                  <a class="waves-effect waves-light btn" type="button" (click)="addNodo()"><i
                      class="material-icons right">panorama_fish_eye</i>Add</a>
                </div>
              </div>
            </div>
          </fieldset>
          <!--adicino de aristas -->
          <ng-container *ngIf="nodosData">
            <fieldset>
              <legend>Adicionar Arista</legend>
              <div>
                <div class="row">
                  <div class="input-field col s3 disabled">
                    <input id="key" type="text" formControlName="key">
                    <label for="key">key edge</label>
                  </div>
                  <div class="input-field col s3">
                    <input id="from" type="text" formControlName="from">
                    <label for="from">Del nodo </label>
                  </div>
                  <div class="input-field col s3">
                    <input id="to" type="text" formControlName="to">
                    <label for="to">Hasta el nodo</label>
                  </div>
                  <div class="col s3">
                    <a class="waves-effect waves-light btn" type="button" (click)="addEdge()"><i
                        class="material-icons right">linear_scale</i>Add</a>
                  </div>
                </div>
              </div>
            </fieldset>
          </ng-container>
          <div>
            <button class="btn waves-effect waves-light" type="submit" name="action"
              [disabled]="formGrafo.invalid">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>

        <!-- opcion para listar nodos para las aristas y evitar errores al escribir id nodo
        <div class="input-field col s3">
          <select id="color" formControlName="opcion">
            <option value="{{v1}}" *ngFor="let v1 of nodosData" >{{v1.id}}</option>
          </select>
          <label>Seleccione un nodo</label>
        </div>
        -->


      </form>
    </div>
  </li>
  <li>
    <!--cargar grafo .json-->
    <div class="collapsible-header"><i class="material-icons">backup</i>Cargar grafo</div>
    <div class="collapsible-body">
      <div>
        <span>
          cargue el archivo .json donde tenga la informacion de su grafo que
          debe tener la siguiente estructura: <br>
          _id : id del grafo <br>
          nodes : object de nodos [] <br>
          edges : object de aristas [] <br>
          adjacencies : matriz de adjacencias <br>

        </span>
      </div>
      <div>
        <form action="#">
          <div class="file-field input-field">
            <div class="btn black">
              <span>File</span>
              <input type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </form>

      </div>

    </div>
  </li>
  <li>
    <!--listar grafo-->
    <div class="collapsible-header"><i class="material-icons">view_list</i>Listar grafos</div>
    <div class="collapsible-body">
      <div>
        <span>Ir a listar todos los grafos disponibles en la base de datos.</span>
      </div>
      <div>
        <a class="waves-effect waves-light btn black" href="grafo-listar"><i
            class="material-icons right">cloud</i>Listar</a>
      </div>


    </div>
  </li>
</ul>
